.mobile-nav-toggle {
  display: none;
}
.module-site-header {
  padding: 2rem 5.25rem;
}

@media (max-width: 1199px) {
  .primary-navigation {
    position: fixed;
    align-items: center;
    z-index: 1000;
    inset: 0 0 0 0%;

    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    background: hsla(0, 0%, 0%, 0.986);

    transform: translateX(100%);
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
    transition: transform 350ms ease-out;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: url("/hamburger.png");
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 1.5rem;
    right: 2rem;
    cursor: pointer;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background: url("/close.png");
  }
}
