<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>TTS - Austin Metro</title>
  </head>
  <body>
    <%- include('partials/header') -%>
    <main>
      <section class="module-section-spacing">
        <div class="layout-container">
          <div>
            <h1 class="module-h1 module-text-center state-text-bold">
              Austin Metro
            </h1>
          </div>
          <div class="layout-grid">
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/austin independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/austin-isd.png"
                          alt="Austin ISD seal"
                        />
                        <div>
                          <h4>Austin ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  class="module-metro-listener"
                  href="/metro/austin_metro/district/bastrop independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/bastrop-isd.png"
                          alt="Bastrop ISD logo"
                        />
                        <div>
                          <h4>Bastrop ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/del valle independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/del-valle-isd.png"
                          alt="Del Valle ISD logo"
                        />
                        <div>
                          <h4>Del Valle ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/dripping springs independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/dripping-springs-isd.png"
                          alt="Dripping Springs ISD logo"
                        />
                        <div>
                          <h4>Dripping Springs ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/eanes independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/eanes-isd.png"
                          alt="Eanes ISD logo"
                        />
                        <div>
                          <h4>Eanes ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/elgin independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/elgin-isd.png"
                          alt="Elgin ISD seal"
                        />
                        <div>
                          <h4>Elgin ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/georgetown independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/georgetown-isd.png"
                          alt="Georgetown ISD logo"
                        />
                        <div>
                          <h4>Georgetown ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/hays consolidated independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/hays-consolidated-isd.png"
                          alt="Hays Consolidated ISD logo"
                        />
                        <div>
                          <h4>Hays CISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/hutto independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/hutto-isd.png"
                          alt="Hutto ISD logo"
                        />
                        <div>
                          <h4>Hutto ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/lago vista independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/lago-vista-isd.png"
                          alt="Lago Vista ISD seal"
                        />
                        <div>
                          <h4>Lago Vista ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/lake travis independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/lake-travis-isd.png"
                          alt="Lake Travis ISD logo"
                        />
                        <div>
                          <h4>Lake Travis ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/leander independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/leander-isd.png"
                          alt="Leander ISD seal"
                        />
                        <div>
                          <h4>Leander ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/liberty hill independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/liberty-hill-isd.png"
                          alt="Liberty Hill ISD seal"
                        />
                        <div>
                          <h4>Liberty Hill ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/manor independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/manor-isd.png"
                          alt="Manor ISD logo"
                        />
                        <div>
                          <h4>Manor ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/marble falls independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/marble-falls-isd.png"
                          alt="Marble Falls ISD logo"
                        />
                        <div>
                          <h4>Marble Falls ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/pflugerville independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/pflugerville-isd.png"
                          alt="Pflugerville ISD logo"
                        />
                        <div>
                          <h4>Pflugerville ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/round rock independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/round-rock-isd.png"
                          alt="Round Rock ISD logo"
                        />
                        <div>
                          <h4>Round Rock ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/taylor independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/taylor-isd.svg"
                          alt="Taylor ISD logo"
                        />
                        <div>
                          <h4>Taylor ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/austin_metro/district/wimberley independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/austin-metro/wimberley-isd.png"
                          alt="Wimberley ISD logo"
                        />
                        <div>
                          <h4>Wimberley ISD</h4>
                        </div>
                        <div>
                          <button class="module-austin-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('partials/footer') -%>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
