<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>TTS - Dallas Metro</title>
  </head>
  <body>
    <%- include('partials/header') -%>
    <main>
      <section class="module-section-spacing">
        <div class="layout-container">
          <div>
            <h1 class="module-h1-metro module-text-center state-text-bold">
              Dallas Metro
            </h1>
          </div>
          <div class="layout-grid">
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/allen independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/allen-isd.png"
                          alt="Allen ISD logo"
                        />
                        <div>
                          <h4>Allen ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/arlington independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/arlington-isd.png"
                          alt="Arlington ISD logo"
                        />
                        <div>
                          <h4>Arlington ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/birdville independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/birdville-isd.png"
                          alt="Birdville ISD seal"
                        />
                        <div>
                          <h4>Birdville ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/burleson independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/burleson-isd.png"
                          alt="Burleson ISD seal"
                        />
                        <div>
                          <h4>Burleson ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/carroll independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/carroll-isd.png"
                          alt="Carroll ISD seal"
                        />
                        <div>
                          <h4>Carroll ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/carrollton-farmers branch independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/carrollton-farmers-branch-isd.png"
                          alt="Carrollton-Farmers Branch ISD logo"
                        />
                        <div>
                          <h4>Carrollton-FB ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/castleberry independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/castleberry-isd.png"
                          alt="Castleberry ISD logo"
                        />
                        <div>
                          <h4>Castleberry ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/cedar hill independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/cedar-hill-isd.png"
                          alt="Cedar Hill ISD logo"
                        />
                        <div>
                          <h4>Cedar Hill ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/cleburne independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/cleburne-isd.png"
                          alt="Cleburne ISD logo"
                        />
                        <div>
                          <h4>Cleburne ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/coppell independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/coppell-isd.png"
                          alt="Coppell ISD logo"
                        />
                        <div>
                          <h4>Coppell ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/corsicana independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/coriscana-isd.png"
                          alt="Corsicana ISD logo"
                        />
                        <div>
                          <h4>Corsicana ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/dallas independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/dallas-isd.png"
                          alt="Dallas ISD logo"
                        />
                        <div>
                          <h4>Dallas ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/denison independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/denison-isd.png"
                          alt="Denison ISD logo"
                        />
                        <div>
                          <h4>Denison ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/denton independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/denton-isd.png"
                          alt="Denton ISD logo"
                        />
                        <div>
                          <h4>Denton ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/duncanville independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/duncanville-isd.png"
                          alt="Duncanville ISD logo"
                        />
                        <div>
                          <h4>Duncanville ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/eagle mountain saginaw independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/eagle-mountain-saginaw-isd.png"
                          alt="Eagle Mountain Saginaw ISD logo"
                        />
                        <div>
                          <h4>Eagle MS ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/fort worth independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/fort-worth-isd.png"
                          alt="Fort Worth ISD logo"
                        />
                        <div>
                          <h4>Fort Worth ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/frisco independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/frisco-isd.png"
                          alt="Frisco ISD logo"
                        />
                        <div>
                          <h4>Frisco ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/garland independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/garland-isd.png"
                          alt="Garland ISD logo"
                        />
                        <div>
                          <h4>Garland ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/grand prairie independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/grand-prairie-isd.png"
                          alt="Grand Prairie ISD logo"
                        />
                        <div>
                          <h4>Grand Prairie ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/grapevine-colleyville independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/grapevine-colleyville-isd.png"
                          alt="Grapevine-Colleyville ISD logo"
                        />
                        <div>
                          <h4>Grape-Colley ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/highland park independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/highland-park-isd.png"
                          alt="Highland Park ISD seal"
                        />
                        <div>
                          <h4>Highland Park ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/hurst-euless-bedford independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/hurst-euless-bedford-isd.png"
                          alt="Hurst-Euless-Bedford ISD logo"
                        />
                        <div>
                          <h4>Hurst-EB ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/irving independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/irving-isd.png"
                          alt="Irving ISD logo"
                        />
                        <div>
                          <h4>Irving ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/kaufman independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/kaufman-isd.png"
                          alt="Kaufman ISD logo"
                        />
                        <div>
                          <h4>Kaufman ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/keller independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/keller-isd.png"
                          alt="Keller ISD logo"
                        />
                        <div>
                          <h4>Keller ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/lake dallas independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/lake-dallas-isd.png"
                          alt="Lake Dallas ISD seal"
                        />
                        <div>
                          <h4>Lake Dallas ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/lake worth independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/lake-worth-isd.png"
                          alt="Lake Worth ISD seal"
                        />
                        <div>
                          <h4>Lake Worth ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/lancaster independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/lancaster-isd.png"
                          alt="Lancaster ISD seal"
                        />
                        <div>
                          <h4>Lancaster ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/lewisville independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/lewisville-isd.png"
                          alt="Lewisville ISD logo"
                        />
                        <div>
                          <h4>Lewisville ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/mansfield independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/mansfield-isd.png"
                          alt="Mansfield ISD logo"
                        />
                        <div>
                          <h4>Mansfield ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/mckinney independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/mckinney-isd.png"
                          alt="McKinney ISD logo"
                        />
                        <div>
                          <h4>McKinney ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/mesquite independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/mesquite-isd.png"
                          alt="Mesquite ISD logo"
                        />
                        <div>
                          <h4>Mesquite ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/northwest independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/northwest-isd.png"
                          alt="Northwest ISD logo"
                        />
                        <div>
                          <h4>Northwest ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/plano independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/plano-isd.png"
                          alt="Plano ISD logo"
                        />
                        <div>
                          <h4>Plano ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/richardson independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/richardson-isd.svg"
                          alt="Richardson ISD logo"
                        />
                        <div>
                          <h4>Richardson ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/dallas_metro/district/rockwall independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/dallas-metro/rockwall-isd.png"
                          alt="Rockwall ISD logo"
                        />
                        <div>
                          <h4>Rockwall ISD</h4>
                        </div>
                        <div>
                          <button class="module-dallas-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('partials/footer') -%>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
