<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>TTS - Houston Metro</title>
  </head>
  <body>
    <%- include('partials/header') -%>
    <main>
      <section class="module-section-spacing">
        <div class="layout-container">
          <div>
            <h1 class="module-h1-austin module-text-center">Houston Metro</h1>
          </div>
          <div class="layout-grid">
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/aldine independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/aldine-isd.png"
                          alt="Aldine ISD seal"
                        />
                        <div>
                          <h4>Aldine ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/alief independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/alief-isd.png"
                          alt="Alief ISD logo"
                        />
                        <div>
                          <h4>Alief ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/clear creek independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/clear-creek-isd.png"
                          alt="Clear Creek ISD logo"
                        />
                        <div>
                          <h4>Clear Creek ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/crosby independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/crosby-isd.png"
                          alt="Crosby ISD logo"
                        />
                        <div>
                          <h4>Crosby ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/cypress fairbanks independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/cypress-fairbanks-isd.png"
                          alt="Cypress Fairbanks ISD logo"
                        />
                        <div>
                          <h4>Cypress-Fairbanks ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/fort bend independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/fort-bend-isd.png"
                          alt="Fort Bend ISD seal"
                        />
                        <div>
                          <h4>Fort Bend ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/galena park independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/galena-park-isd.png"
                          alt="Galena Park ISD logo"
                        />
                        <div>
                          <h4>Galena Park ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/houston independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/houston-isd.png"
                          alt="Houston ISD logo"
                        />
                        <div>
                          <h4>Houston ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/huffman independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/huffman-isd.png"
                          alt="Huffman ISD logo"
                        />
                        <div>
                          <h4>Huffman ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/humble independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/humble-isd.png"
                          alt="Humble ISD seal"
                        />
                        <div>
                          <h4>Humble ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/katy independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/katy-isd.png"
                          alt="Katy ISD logo"
                        />
                        <div>
                          <h4>Katy ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/klein independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/klein-isd.png"
                          alt="Klein ISD seal"
                        />
                        <div>
                          <h4>Klein ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/lamar consolidated independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/lamar-cisd.png"
                          alt="Lamar CISD seal"
                        />
                        <div>
                          <h4>Lamar CISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/new caney independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/new-caney-isd.png"
                          alt="New Caney ISD logo"
                        />
                        <div>
                          <h4>New Caney ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/pasadena independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/pasadena-isd.png"
                          alt="Pasadena ISD logo"
                        />
                        <div>
                          <h4>Pasadena ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/sheldon independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/sheldon-isd.png"
                          alt="Sheldon ISD logo"
                        />
                        <div>
                          <h4>Sheldon ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/spring branch independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/spring-branch-isd.png"
                          alt="Spring Branch ISD logo"
                        />
                        <div>
                          <h4>Spring Branch ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/spring independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/spring-isd.png"
                          alt="Spring ISD logo"
                        />
                        <div>
                          <h4>Spring ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="layout-card-grid">
              <div>
                <a
                  href="/metro/houston_metro/district/tomball independent school district"
                >
                  <div class="layout-district-card">
                    <div
                      class="layout-flex layout-justify-content-center layout-align-items-center module-district-box"
                    >
                      <div class="module-district-content">
                        <img
                          class="module-district-logos"
                          src="/images/houston-metro/tomball-isd.png"
                          alt="Tomball ISD logo"
                        />
                        <div>
                          <h4>Tomball ISD</h4>
                        </div>
                        <div>
                          <button class="module-houston-shadow-box">
                            Learn more
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('partials/footer') -%>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
