<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>TTS - Home</title>
  </head>
  <body>
    <header class="module-site-header state-bg-black">
      <div class="layout-container">
        <nav class="layout-flex module-space-between">
          <div>
            <a
              class="state-font-white state-text-bold state-links-hover"
              href="/"
              ><span>Texas Teacher Salaries</span></a
            >
          </div>

          <button
            class="mobile-nav-toggle"
            aria-controls="primary-navigation"
            aria-expanded="false"
          >
            <span></span>
          </button>

          <ul
            id="primary-navigation"
            data-visible="false"
            class="layout-flex primary-navigation module-gap"
          >
            <li>
              <a class="state-font-white state-links-hover" href="/austin"
                ><span>Austin Metro</span></a
              >
            </li>
            <li>
              <a class="state-font-white state-links-hover" href="/dallas"
                ><span>Dallas Metro</span></a
              >
            </li>
            <li>
              <a class="state-font-white state-links-hover" href="/houston"
                ><span>Houston Metro</span></a
              >
            </li>
            <li>
              <a class="state-font-white state-links-hover" href="/san-antonio"
                ><span>San Antonio Metro</span></a
              >
            </li>
            <li>
              <a class="state-font-white state-links-hover" href="purpose.html"
                ><span>Our Purpose</span></a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="module-section-spacing state-bg-black">
        <div class="layout-container module-text-center">
          <div class="layout-teacher-flex module-space-between">
            <div class="layout-teacher-text">
              <div>
                <h1 class="module-h1 state-font-white">
                  Compare Teacher Salaries <br />
                  Across The State Of Texas<span class="state-period-color"
                    >.</span
                  >
                </h1>
              </div>
              <div>
                <p class="module-p-underH1Spacing state-font-white">
                  TTS provides teachers an easy way to view new hire salaries
                  <br />
                  for school districts in the metro areas of Austin, Dallas,
                  <br />
                  Houston, & San Antonio.
                </p>
              </div>
            </div>
            <div class="layout-flex layout-teacher-img-center">
              <div class="module-card">
                <img
                  class="module-main-teacher-img"
                  src="images/male-teacher2.png"
                  alt="Headshot of teacher"
                />
                <div class="module-card-container state-bg-white">
                  <h5>Michael Ramirez</h5>
                  <p class="module-card-teacher-spacing">English Teacher</p>
                  <p class="state-text-bold">HISD</p>
                </div>
              </div>
              <div>
                <div>
                  <img
                    class="module-teacher-img module-teacher1-img"
                    src="images/male-teacher.png"
                    alt="Headshot of teacher"
                  />
                </div>
                <div>
                  <img
                    class="module-teacher-img module-teacher2-img"
                    src="images/female-teacher2.png"
                    alt="Photo of teacher"
                  />
                </div>
                <div>
                  <img
                    class="module-teacher-img module-teacher3-img"
                    src="images/female-teacher3.png"
                    alt="Photo of teacher"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="module-section-spacing">
        <div class="layout-container">
          <div class="layout-flex module-space-between module-display-block">
            <div class="layout-teacher-text module-new-school-district-margin">
              <h2 class="module-h2-margin-bottom">
                Looking to teach in <br />
                a new school district?
              </h2>
              <p>Select a metro area to find new hire teacher salaries.</p>
            </div>
            <div class="layout-flex layout-skyline-container module-gap">
              <a href="http://"
                ><div
                  class="layout-skyline module-skyline-container module-skyline-container1-bg-color state-metro-containers"
                >
                  <img
                    class="module-skyline-img state-metro-logos"
                    src="images/austin-skyline.png"
                    alt="City of Austin Skyline"
                  /></div
              ></a>
              <a href="http://"
                ><div
                  class="layout-skyline module-skyline-container module-skyline-container2-bg-color state-metro-containers"
                >
                  <img
                    class="module-skyline-img state-metro-logos"
                    src="images/dallas-skyline.png"
                    alt="City of Dallas Skyline"
                  /></div
              ></a>
              <a href="http://"
                ><div
                  class="layout-skyline module-skyline-container module-skyline-container3-bg-color state-metro-containers"
                >
                  <img
                    class="module-skyline-img state-metro-logos"
                    src="images/houston-skyline.png"
                    alt="City of Houston Skyline"
                  /></div
              ></a>
              <a href="http://"
                ><div
                  class="layout-skyline module-skyline-container module-skyline-container4-bg-color state-metro-containers"
                >
                  <img
                    class="module-skyline-img state-metro-logos"
                    src="images/san-antonio-skyline.png"
                    alt="City of San Antonio Skyline"
                  /></div
              ></a>
            </div>
          </div>
        </div>
      </section>
      <section class="module-section-spacing">
        <div class="layout-container">
          <h2 class="module-margin-bottom module-twitter-header-center">
            Latest Tweets From The <br />
            Four Largest School Districts In Texas
          </h2>
          <div class="layout-flex module-tweets-spacing">
            <div>
              <div>
                <a
                  class="twitter-timeline"
                  data-width="300"
                  data-height="300"
                  data-theme="dark"
                  href="https://twitter.com/HoustonISD?ref_src=twsrc%5Etfw"
                  >Tweets by HoustonISD</a
                >
                <script
                  async
                  src="https://platform.twitter.com/widgets.js"
                  charset="utf-8"
                ></script>
              </div>
            </div>
            <div>
              <a
                class="twitter-timeline"
                data-width="300"
                data-height="300"
                data-theme="dark"
                href="https://twitter.com/CyFairISD?ref_src=twsrc%5Etfw"
                >Tweets by CyFairISD</a
              >
              <script
                async
                src="https://platform.twitter.com/widgets.js"
                charset="utf-8"
              ></script>
            </div>
            <div>
              <a
                class="twitter-timeline"
                data-width="300"
                data-height="300"
                data-theme="dark"
                href="https://twitter.com/dallasschools?ref_src=twsrc%5Etfw"
                >Tweets by dallasschools</a
              >
              <script
                async
                src="https://platform.twitter.com/widgets.js"
                charset="utf-8"
              ></script>
            </div>
            <div>
              <a
                class="twitter-timeline"
                data-width="300"
                data-height="300"
                data-theme="dark"
                href="https://twitter.com/NISD?ref_src=twsrc%5Etfw"
                >Tweets by NISD</a
              >
              <script
                async
                src="https://platform.twitter.com/widgets.js"
                charset="utf-8"
              ></script>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="module-section-spacing">
        <div class="layout-container layout-footer">
          <div class="module-footer-text">
            <p class="module-footer-paragraph">
              Have suggestions or questions?
            </p>
            <p>send them and we will get back to you as soon as possible!</p>
          </div>
          <div>
            <a
              class="module-email-button state-font-white state-text-bold"
              href="mailto:mreyna12@live.com"
              >Contact Us</a
            >
          </div>
        </div>
      </div>
    </footer>
    <script type="module" src="main.js"></script>
  </body>
</html>
