/* || Base */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.3;
}

h5 {
  font-size: 1.2rem;
  font-weight: bold;
}

/* || Layout - index.html */

.layout-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.layout-teacher-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.layout-flex {
  display: flex;
}

.layout-teacher-flex {
  display: flex;
}

.layout-teacher-img-center {
  justify-content: center;
}

.layout-skyline-container {
  justify-content: end;
}

.layout-skyline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* || Layout - metro htmls */
.layout-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  grid-gap: 1rem;
}

.layout-district-card {
  position: relative;
  min-width: 250px;
  height: 350px;
  border-radius: 15px;
  transition: 0.5s;
}

/* || Module - index.html */
.module-section-spacing {
  padding: 5.25rem;
}

.module-gap {
  gap: 2rem;
}

.module-h1 {
  line-height: 4rem;
  font-weight: bold;
}

.module-h1-austin {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.module-site-header {
  padding: 2rem 5.25rem;
}

.module-space-between {
  justify-content: space-between;
}
.module-p-underH1Spacing {
  margin-top: 1.2rem;
  line-height: 1.5;
}

.module-card {
  transition: 0.3s;
  border-radius: 10px;
  margin-right: 2rem;
}

.module-card-container {
  padding: 2px 16px;
  border-radius: 0 0 10px 10px;
  line-height: 1.2rem;
}

.module-card-teacher-spacing {
  margin: 5px 0px 5px 0px;
}

.module-main-teacher-img {
  border-radius: 10px 10px 0 0;
  background-size: cover;
}

.module-teacher-img {
  border-radius: 10px;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.module-teacher2-img {
  margin-top: 35px;
  margin-bottom: 35px;
}

.module-skyline-container {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  padding: 1rem;
}

.module-skyline-container1-bg-color {
  background: rgba(0, 150, 136, 255);
}
.module-skyline-container2-bg-color {
  background: rgba(255, 152, 0, 255);
}
.module-skyline-container3-bg-color {
  background: rgba(3, 169, 244, 255);
}
.module-skyline-container4-bg-color {
  background: rgba(233, 30, 99, 255);
}

.module-skyline-img {
  max-width: 125px;
  max-height: 125px;
}

.module-h2-margin-bottom {
  margin-bottom: 15px;
}

.module-card:hover {
  box-shadow: 0 18px 16px 0 rgba(7, 97, 67, 0.5);
}

.module-teacher1-img:hover {
  box-shadow: 0 18px 16px 0 rgba(197, 146, 5, 0.5);
}

.module-teacher2-img:hover {
  box-shadow: 0 18px 16px 0 rgba(5, 111, 197, 0.5);
}

.module-teacher3-img:hover {
  box-shadow: 0 18px 16px 0 rgba(211, 7, 119, 0.5);
}

.module-new-school-district-margin {
  margin-right: 75px;
}

.module-margin-bottom {
  margin-bottom: 30px;
}

.module-email-button {
  border: 1px solid rgb(255, 152, 0);
  background: rgba(255, 152, 0, 255);
  border-radius: 1.5rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  transition: all 0.25s ease-in-out;
  display: block;
}

.module-footer-paragraph {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.25rem;
}

.module-footer-text {
  text-align: center;
  padding-bottom: 50px;
}

.module-text-center {
  text-align: center;
}
.module-tweets-spacing {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.mobile-nav-toggle {
  display: none;
}

/* || Module - metro htmls */
.module-district-logos {
  height: 120px;
  width: auto;
  max-width: 100%;
  vertical-align: middle;
  transition: 0.5s;
  margin-bottom: 15px;
}

.module-district-box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.module-district-box:hover {
  transform: translateY(-30px);
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.module-district-content {
  padding: 20px;
  text-align: center;
}

.module-district-content div h4 {
  font-size: 1rem;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
}

.module-district-content div button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.module-district-content div button:hover {
  box-shadow: 0 10px 20px rgba(0, 150, 136, 0.6);
  background: rgba(0, 150, 136, 255);
}

/* || State - index.html */
.state-bg-black {
  background: #000000;
}

.state-bg-white {
  background: #ffffff;
}

.state-font-white {
  color: white;
}

.state-period-color {
  color: rgba(0, 150, 136, 255);
}

.state-text-bold {
  font-weight: bold;
}

.state-links-hover:hover {
  color: rgba(255, 152, 0, 255);
  text-decoration: underline;
}

.state-metro-logos {
  filter: brightness(0) invert(1);
  transition: all 0.5s ease-in-out;
  transform: scale(0.9);
}

.state-metro-containers {
  transition: all 0.5s ease-in-out;
}

.state-metro-containers:hover {
  box-shadow: 0 9px 12px 0 rgba(0, 7, 5, 0.5);
}

.state-metro-logos:hover {
  filter: brightness(1) invert(0);
  transform: scale(1);
}

.module-email-button:hover {
  background: rgba(255, 153, 0, 0.87);
}

.module-email-button:active {
  background: rgba(0, 150, 136, 255);
  border-color: rgba(0, 150, 136, 255);
}

/* || Media Queries - index.html */

@media (min-width: 1400px) {
  .layout-container {
    max-width: 1320px;
  }
  .module-teacher-img {
    width: 200px;
    height: 150px;
  }

  .module-main-teacher-img {
    width: 300px;
    height: 450px;
  }
  .module-p-underH1Spacing {
    font-size: 1.3rem;
  }
  .module-h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1399px) {
  .layout-container {
    max-width: 1140px;
  }
  .module-main-teacher-img {
    width: 275px;
    height: 400px;
  }
  .module-teacher-img {
    width: 170px;
    height: 133px;
  }
  .module-p-underH1Spacing {
    font-size: 1rem;
  }
  .module-h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1199px) {
  .layout-container {
    max-width: 960px;
  }
  .layout-skyline-container {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .module-p-underH1Spacing {
    font-size: 0.85rem;
  }
  .module-main-teacher-img {
    width: 250px;
    height: 350px;
  }
  .module-teacher-img {
    width: 140px;
    height: 117px;
  }
  .module-display-block {
    display: block;
  }
  .module-new-school-district-margin {
    margin-right: 0;
    margin-bottom: 50px;
    text-align: center;
  }
  .module-twitter-header-center {
    text-align: center;
  }
  .module-tweets-spacing {
    justify-content: center;
  }
  .module-h1 {
    font-size: 1.85rem;
  }
  h5 {
    font-size: 1rem;
  }
  .primary-navigation {
    position: fixed;
    align-items: center;
    z-index: 1000;
    inset: 0 0 0 0%;

    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    background: hsla(0, 0%, 0%, 0.986);

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: url("/images/hamburger.png");
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 1.5rem;
    right: 2rem;
    cursor: pointer;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background: url("/images/close.png");
  }
}

@media (max-width: 991px) {
  .layout-container {
    max-width: 720px;
  }
  .layout-skyline-container {
    justify-content: center;
  }
  .layout-teacher-text {
    align-items: center;
    margin-bottom: 50px;
  }
  .layout-teacher-flex {
    display: block;
  }
  .module-p-underH1Spacing {
    font-size: 1rem;
  }
  .module-main-teacher-img {
    width: 285px;
    height: 350px;
  }
  .module-teacher-img {
    width: 150px;
  }
  .module-h1 {
    font-size: 2.25rem;
  }
  h5 {
    font-size: 1rem;
  }
}

@media (max-width: 639px) {
  .layout-container {
    max-width: 480px;
  }
  .module-main-teacher-img {
    max-width: 165px;
    max-height: 250px;
  }
  .module-teacher-img {
    max-width: 100px;
    max-height: 84px;
  }
  .module-p-underH1Spacing {
    font-size: 1rem;
  }
  .module-h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  p br {
    display: none;
  }
}

@media (max-width: 479px) {
  .layout-container {
    max-width: 380px;
  }
  .layout-teacher-img-center {
    display: none;
  }
  .module-h1 {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  br {
    display: none;
  }
}
