/* || Base */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: bold;
}

/* || Layout */

.layout-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.layout-teacher-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.layout-flex {
  display: flex;
}

.layout-flex ul li {
  margin-left: 30px;
}

/* || Module */
.module-section-spacing {
  padding: 5.25rem;
}

.module-site-header {
  padding: 0 5.25rem;
}

.module-space-between {
  justify-content: space-between;
}
.module-p-underH1Spacing {
  font-size: 1.3rem;
  margin-top: 1.2rem;
}

.module-card {
  transition: 0.3s;
  border-radius: 10px;
  margin-right: 2rem;
}

.module-card-container {
  padding: 2px 16px;
  border-radius: 0 0 10px 10px;
  line-height: 1.2rem;
}

.module-teacher-img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.module-main-teacher-img {
  width: 300px;
  height: 450px;
  border-radius: 10px 10px 0 0;
  background-size: cover;
}

.module-teacher2-img {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* || State */

.module-card:hover {
  box-shadow: 0 18px 16px 0 rgba(7, 97, 67, 0.5);
}

.module-teacher1-img:hover {
  box-shadow: 0 18px 16px 0 rgba(197, 146, 5, 0.5);
}

.module-teacher2-img:hover {
  box-shadow: 0 18px 16px 0 rgba(5, 111, 197, 0.5);
}

.module-teacher3-img:hover {
  box-shadow: 0 18px 16px 0 rgba(211, 7, 119, 0.5);
}

/* || Media Queries */

@media (min-width: 576px) {
  .layout-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .layout-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .layout-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .layout-container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .layout-container {
    max-width: 1320px;
  }
}
